.Shopcard{
    display: flex;
    padding: 10px;
    margin-left: 20%;
    margin-bottom: 20px;
    width: fit-content;
    border: 1px solid gray;
    cursor: pointer;
}

.Image{
    width: 150px;
    border-radius: 50%;
}

.Name{   
    align-self: flex-start;
    justify-self: flex-start;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 10px;
}

.Rating{
    background-color: rgb(21, 136, 21);
    border: 3px solid rgb(6, 53, 6);
    padding:7px;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    justify-self: flex-end;
    align-self: flex-start;
}

.MainContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:10px;
}

.About{
    margin-bottom: 10px;
}